.whole {
  width: 80%;
  background-color: DodgerBlue;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  font-family: "Garamond", sans-serif;
  }
h1 {
  text-align: center;
}
